.projects {
    display: flex;
    margin: 0 auto;
    flex-flow: column;
    width: 95%;
}

img,
.placeholder-img {
    width: 580px;
    height: 469px;
    border: 2px solid $fWhite;
    margin-bottom: 2rem;
}

.placeholder-img {
    background-color: skyblue;
}

.placeholder-img p {
    text-align: center;
    margin-top: 40%;
    font-size: 2.5rem;
}

h4 {
    font-size: 1.2rem;
    text-align: center;
}

a {
    color: $green;
}

a:hover {
    color: $green;
}